/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid black;
    
    width: 100%;
    height: 90px;
    // Positioning context for the mobile navigation icon
    position: relative;
    @include media-query($on-palm) {
        height: 60px;
        min-height: 40px;
    }
}

.site-title {
    font-size: 60px;
    letter-spacing: -1px;
    margin-left: 3%;
    text-align: left;
    font-family: 'Russo One', sans-serif;
    font-weight: bolder;

    @include media-query($on-palm) {
        font-size: 9vw;
        text-align: left;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    position: fixed; z-index: 999;
    top: 16px; 
    right: 16px;
    border: 1px solid;
    border-radius: 10px;
    
    @include media-query($on-palm) {
        top: 7px; 
        right: 5px;
    }


    .nav-trigger {
        padding: 8px;
        display: block;
        text-align: right;
        line-height: 1;
        border-radius: 5px;

        .menu-icon {
            display: block;
        }

    }

    .page-link {
        list-style: none;
        margin: 0;
        padding: 0 15px 8px;
        text-align: right;
        display: none;
        letter-spacing: -1px;
        color: black;
        font-family: 'Slabo 27px', serif;
        font-size: 17px;
        font-weight: bold;

        > li:hover {
            margin: 0 -15px;
            padding: 0 15px;
        }

        a { text-decoration: none; }
    }

    &:hover { background: white;

        .page-link { display: block; }

        .nav-trigger {

            .menu-icon { display: inline-block; }

        }
    }
}

.page-link {
    color: black;
    line-height: $base-line-height;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    font-weight: bold;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
        margin-right: 20px;
    }
}



/**
 * Site footer  $grey-color-light
 */
.site-footer {
    border-top: 1px solid black;
    padding: $spacing-unit 0;
}

.footer-heading {
    padding-left: 5%;
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    padding-left: 5%;
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
    text-align: center;
    @include media-query($on-palm) {
        font-size: 10px;
    }
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    width: 80%;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 10px;
    list-style: none;


    li:not(:last-child) {
        margin-top: 10px;
        margin-bottom: 0;
        border-bottom: 1px solid gainsboro;
    }

    li:last-child{
        margin-top: 10px;
        margin-bottom: 0;
    }


}

.post-meta {
    font-size: 12px;
    color: $grey-color;
    font-family: 'Josefin Sans', sans-serif;
    @include media-query($on-palm) {
        font-size: 2vw;
        text-align: left;
    }
}

.post-link {
    display: block;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    @include media-query($on-palm) {
        font-size: 4.5vw;
        text-align: left;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    font-family: 'Josefin Sans', sans-serif;
}

.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

