<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      {% include header.html %}
      
      <div class="category-wrap">
        <p class="table-content">
          {% for category in site.categories %}
            <a href="/writing/{{ category | first }}/">{{ category | first }}</a>
          {% endfor %}
        </p>
      </div>
          
      <div class="page-header">
        <div class="wrap">
          {{ content }}
        </div>
      </div>



      {% include footer.html %}

      <!--
      <div class="my-avatar home">
        <img class="joel-photo" src="/img/photo-sky.jpeg" alt="Joel Andrew Glovier avatar" />
      </div>
      -->

  </body>

</html>
